apiVersion: 1
prune: true
datasources:
- name: VictoriaMetrics
  uid: victoria-metrics
  type: prometheus
  access: proxy
  url: http://{{links.victoria-metrics.host}}:{{links.victoria-metrics.port}}
  isDefault: true
  editable: false
